.bg-blue {
    background-color: rgb(44, 62, 80);
}

.bg-blue-2 {
    background-color: rgb(58, 84, 109);
}

.bg-green {
    background-color: rgb(26, 188, 156);
}

.main-header {
    min-height: 80px;
    color: white;
}

.jumbotron {
    min-height: 60vh;
}

.bg-goldenrod {
    background-color: goldenrod;
}

.border-box {
    border: 1px dashed black;
}

.box {
    min-height: 200px;
}

.layout-about {
    min-height: 500px;
}

#about .container {
    height: 90%;
    max-width: 50%;
}

#contact-me {
    min-height: 50vh;
}

.bg-darkred {
    background-color: darkred;
}

#info {
    color: white;
}

.height-row {
    min-height: 90px;
}

footer {
    min-height: 80px;
    color: white;
}