img {
    max-width: 100%;
}

/* *BACKGROUND* */

.bg-darkerblue {
    background-color: rgb(44, 62, 80);
}

.bg-blue {
    background-color: rgb(58, 84, 109);
}

.bg-green {
    background-color: rgb(26, 188, 156);
}

.bg-darkred {
    background-color: darkred;
}

.bg-goldenrod {
    background-color: goldenrod;
}

/* *HEADER* */

#header .navbar-toggler {
    border-color: white;
}

/* *JUMBOTRON* */

#jumbotron {
    min-height: 60vh;
}

#jumbotron .line {
    height: 4px;
    width: 70px;
    border-radius: 2px;
    background-color: white;
}

#avatar {
    max-height: 300px;
}

/* *PORTFOLIO* */

#portfolio .line {
    height: 4px;
    width: 70px;
    border-radius: 2px;
    background-color: black;
}

/* *ABOUT* */

#about .line {
    height: 4px;
    width: 70px;
    border-radius: 2px;
    background-color: white;
}

/* *CONTACT* */

#contact {
    min-height: 50vh;
}

#contact .container {
    max-width: 50%;
}

#contact .form-control {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid black;
}

#contact .line {
    height: 4px;
    width: 70px;
    border-radius: 2px;
    background-color: black;
}

/* *INFO* */

/* *FOOTER* */

#footer-bot {
    min-height: 80px;
}