/* *BACKGROUND* */

.bg-darkerblue {
    background-color: rgb(44, 62, 80);
}

.bg-blue {
    background-color: rgb(58, 84, 109);
}

.bg-green {
    background-color: rgb(26, 188, 156);
}

.bg-darkred {
    background-color: darkred;
}

.bg-goldenrod {
    background-color: goldenrod;
}

/* *BORDER* */

/* [class="col"] {
    border: 2px solid orange;
} */

/* .border-box {
    border: 1px dashed black;
} */

/* *UTILITIES* */

.box {
    min-height: 200px;
}

.height-row {
    min-height: 90px;
}

/* *HEADER* */

#header .navbar-toggler {
    border-color: white;
}

/* *JUMBOTRON* */

#jumbotron {
    min-height: 60vh;
}

/* *ABOUT* */

#about .container {
    height: 90%;
    max-width: 50%;
}

#about .layout-about {
    min-height: 500px;
}

/* *CONTACT* */

#contact {
    min-height: 50vh;
}

#contact .form-control {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid black;
}

/* *INFO* */

/* *FOOTER* */

#footer-bot {
    min-height: 80px;
}